<!doctype html>
{% block content %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!--<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">-->
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="http://code.jquery.com/jquery-latest.js" rel="stylesheet">-->
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <script>
            function show() {
                var target = document.getElementById("hidden_box")
                target.style.display = "block"
                var target = document.getElementById("top")
                target.style.display = "none"
                var target = document.getElementById("conditions")
                target.style.display = "none"
                var target = document.getElementById("results")
                target.style.display = "none"                
            }
        </script>
    </header>

    <div id="hidden_box">
        <h1>Wait a minute</h1>
        <img src={{"/static/loading_spinner.gif"}} alt="pic01">
    </div>


    <div id="top">
        This app retrieves Google Scholar search results by citation count.
    </div>

    <div id="conditions">
        <h1>
            Search conditions
        </h1>

        <form action="/top" method="post" class="form-inline" id="form-inline">
            <div class="parameters">
                <div class="param">
                    Query
                    {% if query %}
                    <input class="param_input" name="query" value={{ query }} size="30"
                        style="text-align: left;"></input>
                    {% else %}
                    <input class="param_input" name="query" value="" size="30" style="text-align: left;"></input>
                    {% endif %}
                </div>
                <div class="param">
                    Language
                    {% if lr %}
                    <input class="param_input" name="lr" value={{ lr }} size="10" style="text-align: left;"></input>
                    {% else %}
                    <input class="param_input" name="lr" value="lang_en" size="10" style="text-align: left;"></input>
                    {% endif %}
                </div>
                <div class="param">
                    as_ylo
                    {% if as_ylo %}
                    <input class="param_input" name="as_ylo" value={{ as_ylo }} size="4"
                        style="text-align: right;"></input>
                    {% else %}
                    <input class="param_input" name="as_ylo" value="" size="4" style="text-align: right;"></input>
                    {% endif %}
                </div>
                <div class="param">
                    as_yhi
                    {% if as_yhi %}
                    <input class="param_input" name="as_yhi" value={{ as_yhi }} size="4"
                        style="text-align: right;"></input>
                    {% else %}
                    <input class="param_input" name="as_yhi" value="" size="4" style="text-align: right;"></input>
                    {% endif %}
                </div>
                <div class="param">
                    scisbd
                    {% if as_yhi %}
                    <input class="param_input" name="scisbd" value={{ scisbd }} size="2"
                        style="text-align: right;"></input>
                    {% else %}
                    <input class="param_input" name="scisbd" value="0" size="2" style="text-align: right;"></input>
                    {% endif %}
                </div>
                <div class="param">
                    as_vis
                    {% if as_vis %}
                    <input class="param_input" name="as_vis" value={{ as_vis }} size="2"
                        style="text-align: right;"></input>
                    {% else %}
                    <input class="param_input" name="as_vis" value="1" size="2" style="text-align: right;"></input>
                    {% endif %}
                </div>
                <div class="param">
                    as_sdt
                    {% if as_sdt %}
                    <input class="param_input" name="as_sdt" value={{ as_sdt }} size="2"
                        style="text-align: right;"></input>
                    {% else %}
                    <input class="param_input" name="as_sdt" value="1" size="2" style="text-align: right;"></input>
                    {% endif %}
                </div>
                <div class="param">
                    num
                    {% if num %}
                    <input class="param_input" name="num" value={{ num }} size="3" style="text-align: right;"></input>
                    {% else %}
                    <input class="param_input" name="num" value="100" size="3" style="text-align: right;"></input>
                    {% endif %}
                </div>
            </div>
            <p>
                <input type="submit" class="btn" value="Execute search" name="listview" id="listview" onClick="show()">
            </p>
        </form>
    </div>

    {% if message %}
    <div id="results">
        
        <div id="result_header">
            <h1>
                Search results
            </h1>
            <p>
                <font color="red">{{ message }}</font>
            </p>
        </div>
        {% if dfflag%}
        <div id="result_body">
            <table class="table2" border=1>
                <tr>
                    {% for col in df_columns %}
                    <th align="center">{{col}}</th>
                    {% endfor %}
                </tr>
                {% for row in range(df.shape[0]) %}
                <tr>
                    {% for col in range(df.shape[1]) %}
                    {% if df[row, col].__class__ == float %}
                    <td align="center">{{ '{:.1f}'.format(df[row, col])}}</td>
                    {% elif df_columns[col] == "url" %}
                    <td align="center">{{ "<a href= {} > {} </a>".format(df[row, col], df[row, col][:20]) }}</td>
                    {% else %}
                    <td align="center">{{(df[row, col])}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% endblock %}
</body>