@charset "utf-8";
/* CSS Document */

body {
    background: #FFF;
    margin-top: 0px;
    margin-left: 0px;
}

#top {
    font-size:16px;
    color:white;
    background: #000;
    margin: 0px;
    margin-top: 0px;    
    margin-bottom: 10px;    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#conditions {
    width: 550px;/*幅も指定できる*/
    margin-left: 30px;
    margin-top: 0px;
    padding-left : 20px;
    padding-top : 10px;
    padding-bottom : 50px;
    color:black;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/ 
}

#results {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-left : 20px;
    padding-right : 20px;
    padding-top : 10px;
    padding-bottom : 50px;
    color:black;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/ 
}

#hidden_box {
    display: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

h1 {
    font-size:24px;
    color:black;
    margin: 0px;
    margin-bottom: 5px;
}

p {
    font-size:16px;
    color:black;
    margin: 0px;
    margin-bottom: 10px;
}

.parameters {
    width: 500px;/*幅も指定できる*/
    margin-bottom: 10px;
}

.param {
    display: inline-block;
    font-size:16px;
    color:black;  
    padding:5px;
    margin: 0px;
}

.param_input {
    font-size:16px;
    color:black;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/    
}

#param_input:focus {
    border: 2px solid blue; 
    z-index: 10;
    outline: 0;
}

.btn{
    color: #fff;
    font-size:16px;
    border: 1px solid rgb(72, 72, 250);
    background-color: rgb(72, 72, 250);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    float: left;
}
.btn:hover{
    background-color: #fff;
    border: 1px solid rgb(72, 72, 250);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: rgb(72, 72, 250);
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse:separate;
    border-spacing: 0;
  }
  
  table th:first-child{
    border-radius: 5px 0 0 0;
  }
  
  table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
  }
  
  table th{
    text-align: center;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    padding: 10px 0;
  }
  
  table td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    padding: 10px 0;
  }
  
  table td:last-child{
    border-right: 1px solid #a8b7c5;
  }
  
  table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  
  table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }